<h1 style="text-align: center;">welcome to my proget</h1>
<p><b>welcome: </b> {{name}}<br/></p>
<p><b>from: </b> {{adress}}</p>
<p><b>stust: </b>{{getrim()}}</p>
<p>
<button type="button" class="btn btn-danger"(click)="getmessage()">Save</button><br/></p>
<div class="row">
    <div class="col-md-4 offset-md-4">
    <div class="card">
        <div class="card-header">
           <h3 class="text-center"> TOW WAY BINDING</h3>

        </div>
        <div class="card-body">
            <input type="text" class="form.control" [(ngModel)]="MEssage"><br/>
           <b class="text-danger"> {{MEssage}}</b>

        </div>
    </div>
</div>
</div>
<div class="row d-flex justify-content-center">
    <button type="button" class="btn btn-link"(click)="ttiittoo()">go to routing</button>
</div>